a:link, a:visited, a:hover, a:active {
    color: black;
}
  
body {
    background-color: rgb(255, 252, 238);
}
  
div.menu {
    text-align: center;
}
  
input.btn {
    width: 24%;
/*     max-width: 185px; */
    font-size: 140%;
    padding: 5px 15px;   /* 縦,横 */
    margin-top: 5px;
    color: white;
    background: gray;
    border-radius: 10px;
    border: none;
    transition: .5s;
}
  
input.btn:hover {
    background: #95beba;
    color: #FFF;
    cursor: pointer;
}
  
p.title {
    text-align: center;
/*     font-size: 450%; */
    font-size: 8vw;
    margin: 10px;
}

@media (min-width: 840px){
    p.title {
        font-size: 425%;
    }
}


  
div.art_border {
    border: solid;
    border: 1px solid;
    border-color: rgb(255, 170, 50);
    border-radius: 10px;
    line-height:0;
    width: 90%;
    margin: 0 auto;
}
  
img.art_img {
    width: 24%;
    height: 32%;
    max-width: 200px;
    position: relative;
    padding: 10px 10px;
}
  
p.art_p {
    -webkit-text-size-adjust: none;
    font-size: 250%;
    position: relative;
    left: 250px;
    top: -85px;
    margin: 0 auto;
}
  
div.main {
    padding: 0 0;
}
  
a {
    text-decoration: none;
}

div.article {
    padding-bottom: 10px;
}

img.article_img {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    max-width: 755px;
    
}

p.sentence {
    font-size: 5vw;
    padding-left: 5%;
    padding-right: 5%;
}

div.history, div.about, div.sentense {
    position: absolute;
    left: 0%;
    font-size: 100%;
}

/* @media (min-width: 640px){
    p.sentence {
        font-size: 150%;
        padding-left: 5%;
        padding-right: 5%;
    }
} */