a:link, a:visited, a:hover, a:active {
    color: black;
}
  
body {
    background-color: rgb(255, 252, 238);
}
  
div.menu {
    text-align: center;
}
  
input.btn {
    font-size: 140%;
    padding: 5px 15px;   /* 縦,横 */
    margin-top: 5px;
    color: white;
    background: gray;
    border-radius: 10px;
    border: none;
    transition: .5s;
}
  
input.btn:hover {
    background: #95beba;
    color: #FFF;
    cursor: pointer;
}
  
p.title {
    text-align: center;
    font-size: 250%;
    margin: 10px;
}
  
div.art_border {
    border: solid;
    border: 1px solid;
    border-color: rgb(255, 170, 50);
    border-radius: 10px;
    line-height:0;
    width: 550px;
    margin: 0 auto;
}
  
img.art_img {
    width: 100px;
    height: 75px;
    position: relative;
    padding: 10px 10px;
}
  
p.art_p {
    font-size: 150%;
    position: relative;
    top: -50px;
    left: 150px;
    margin: 0 auto;
}
  
div.main {
    padding: 0 0;
}
  
a {
    text-decoration: none;
}

div.article {
    padding-bottom: 10px;
}